<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
  </head>

<body>

<form action="#" method="POST" th:action="@{/new}" th:object="${user}">
    <table>
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name" required/>
        <label for="surname">Enter surname</label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <label for="age">Enter age</label>
        <input type="number"  th:field="*{age}" id="age">
        <input type="submit" class="buttonAdd" value="Add User"/>
    </table>
</form>
</body>
</html>